body{
    padding: 0;
    margin: 0;
    background: url(./images/metal-316803.jpg);
    width: 100%;
    font-weight: bold;
}
html{
    padding: 0;
    margin: 0;
}
/* navbar  header*/
.navbar{
    position: fixed;
    width: 100%;
}
/* premiere ligne */
#icon img{
    height: 10px;
    width: 10px;
}
.presentation{
    text-align: center;
    margin-top: 60px;
}
#cidalia img{
    display: flex;
    margin-top: 10px;
}
img {
    border-radius: 50px;
}
/* deuxieme ligne */
.box2{
    background-color: #696969;
    margin: 20px;
    padding: 0;
}
.competence{
    margin-left: 20px;
}
/* troisiemeligne */
.box3{
    margin: 20px;
    padding: 0;
}
/* quatrieme ligne */
#experience{
    overflow-y: scroll;
    height: 250px;
    margin: 0 100px;
}
.box4{
    background-color: #696969;
    margin: 20px;
    padding: 0;
    padding-bottom: 10px;
    padding-left: 10px;
}
/* cinquieme ligne */
.box5{
    margin-left: 20px;
}

/* sixieme ligne */ 
.imgdanse{
    width: 100%;
    height: auto;
} 
.imgvoyage{
    width: 100%;
    height: auto;
}
.imgmusique{
    width: 100%;
    height: auto;
}
.imgart{
    width: 100%;
    height: auto;
}
.box6{
    margin-left: 20px;
    margin-bottom: 20px;
}.interet h3{
    color: white;
}
#musique h3{
    color: white;
}
#art h3{
    color:white;
}
/* footer */
#footer{
    background-color:#696969;
    width: 100%;
    height: auto;
}
#reseaux{
    font-display:flex ;
    justify-content: flex-end;
}
#ancre{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
 }
 #icon svg{
     position: fixed;
 }





